name: Application Delivery Workflow

on:
  workflow_dispatch:

jobs:
  create-version:
    runs-on: ubuntu-latest

    steps:
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y jq

      - name: Get access token from Cognito
        env:
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
        run: |
          # Create base64-encoded credentials
          AUTH_BASIC=$(printf "%s" "${CLIENT_ID}:${CLIENT_SECRET}" | base64)

          # Print sha256sum of variables
          echo -n "$CLIENT_ID" | sha256sum
          echo -n "$CLIENT_SECRET" | sha256sum 
          echo -n "$AUTH_BASIC" | sha256sum

          # Request token
          curl -v -X POST \
            https://panasky-panasonicaero-idam-userpool.auth.us-west-2.amazoncognito.com/oauth2/token \
            -H "Authorization: Basic ${AUTH_BASIC}" \
            -H "Content-Type: application/x-www-form-urlencoded" \
            -d "grant_type=client_credentials&scope=cloudservices.rs1/converix.applications.read cloudservices.rs1/converix.applications.write cloudservices.rs1/converix.features.read cloudservices.rs1/converix.features.write"
